.*.swp
.*.swo
.deps
*.o
*.a
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
depcomp
doxygen-docs
gfp-*.tar.bz2
gfp-*.tar.gz
install-sh
missing
src/gfp
src/gplisp
src/gptest
src/libfunctions/libfunctions.so
stamp-h1
tags
/win32/Release
/win32/Debug